.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  /*background-image: -webkit-linear-gradient(left, #061313, #339999);*/
  background-image: url("../public/media/backgroundPic_3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.footerOuter{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 10.5vh;
  margin: 11.81vh 0 0 0;
  padding: 1vh 0 0 0;
  background-color: rgba(0, 0, 0, 0.83);
}

.footerInner{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.moraSpiritTheme{
  color: white;
  margin: 0 1vw 0 1vw;
}

.moraSpiritThemeMobile{
  display: none;
}


.moraSpiritLogo{
  width: 70px;
  height: 70px;
}

.slugLogo{
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 420px) {
  .footerInner{
    padding: 1vh 0 0 0;
  }

  .moraSpiritTheme{
    display: none;
  }

  .moraSpiritThemeMobile{
    display: flex;
    margin: 0.7vh 3vw 0 3vw;
    color: white;
    font-size: 13px;
  }

  .moraSpiritLogo{
    width: 55px;
    height: 55px;
    margin: 0.5vh 0 0 -2vw;
  }

  .slugLogo{
    width: 55px;
    height: 55px;
    margin: 0.5vh 0 0 0;
  }
}

