.signUp{
    text-align: center;
}

.signUpInstructionTopic{
    color: white;
    font-size: 4vw;
    margin: 5vh 0 0 0;
}

.signUpParagraphContent{
    margin: 0 0 0 0;
}

.signUpContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 47vh;
    width: 44vw;
    border: 3px solid rgba(229, 130, 11, 0.79);
    margin: 7vh 0 -4vh 0;
    padding: 4vh 0 0 0;
    background-color: rgba(16, 0, 0, 0.56);
}

.form-group{
    display: flex;
    width: 30vw;
    margin: 3vh 0 0 0;
}

.label{
    display: flex;
    align-items: center;
    width: 12vw;
    text-align: left;
}

.label label{
    color: white;
}

.form-control::placeholder{
    font-size: 15px;
}

.signUpBtn{
    margin: 6vh 0 0 0;
    width: 10vw;
    height: 6vh;
}


/* Media Queries */

@media screen and (max-width: 420px) {
    .signUpInstructionTopic{
        font-size: 8vw;
        margin: 6vh 0 0 0;
    }

    .signUpParagraphContent{
        font-size: 4vw;
        width: 84vw;
        margin: 1vh 0 0 0;
    }

    .signUpOuterContainer{
        width: 75vw;
        margin: -2vh 0 0 3vw;
    }

    .signUpContainer{
        width: 75vw;
        padding: 6vh 0 0 0;
        border: 3px solid rgba(229, 130, 11, 0.79);

    }

    .label{
        display: none;
    }

    .form-group{
        width: 55vw;
    }

    .form-control{
        height: 5.5vh;
    }

    .form-control::placeholder{
        font-size: 11px;
        text-align: center;
    }

    .btn{
        font-size: 12px !important;
    }

    .signUpBtn{
        width: 27vw;
        font-size: 10px;
    }
}